body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.header h2 {
  font-weight: normal;
  font-size: 16px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.myBox {
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  width: 100%;
  height: 200px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
p {
  font-size: 16px;
  font-weight: normal;
}
#myBox{
  display: block;
  width: 100%;
  text-align: center;
}
pre {
  display: flex;
  justify-content: center;
}
pre:focus, code:focus {
  outline: none;
  box-shadow: none;
}
.codebox {
  padding: 10px;
}

.section-title {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin: 0 0 10px 0;
}
.use-snippet {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}
.footer a {
  color: #ffcc00;
  text-decoration: none;
}